google-generativeai
requests
opencv-python
numpy
matplotlib
youtube-transcript-api
googletrans==4.0.0-rc1
pytube
python-dotenv
fastapi  # Use if your backend is in FastAPI
flask  # Use if your backend is in Flask
gunicorn  # Required for deployment
uvicorn  # Required for running FastAPI with ASGI
